<% include partials/header%>

<div class="container-fluid">
    <h1 id="header">Recent Video</h1>
    <div class="row">
      <div class="col-lg-6">
        <video src="/videos/videoplayback.mp4" autoplay muted loop></video>
      </div>
      <div class="col-lg-6 p1text">
        <p>DAILY VIDEO</p>
        <h1>TRY OUR PASTA</h1>
        <h6>Pasta is a staple food of traditional Italian cuisine, with the first reference dating to 1154 in Sicily.Also commonly used to refer to the variety of dishes made with it., pasta is a type of noodle typically made from an unleavened dough of a durum wheat flour mixed with water or eggs, and formed into sheets or various shapes, then cooked by boiling or baking. Some pastas are made using rice flour or legumes like black beans or lentils in place of wheat flour to yield a different taste and texture, or for those who need to avoid products containing gluten.</h6>
      </div>
    </div>
    <div class="row mb-3">
      <% for(var i = videos.length - 1;  i > -1; i--){%>
      <div class="col-md-6 col-lg-4 mt-3">
        <div class="card">
          <video src="<%= videos[i].url %>" poster="<%= videos[i].poster %>" controls></video>
          <div class="card-body">
            <h5 class="card-title"><%= videos[i].title %></h5>
            <p class="card-text"><%= videos[i].body %></p>
            <p>By <%= video[i].name %></p>
            <% if(currentUser && currentUser.email === "helllooper@gmail.com"){%>
            <form action="/videos/<%= videos[i]._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger" type="submit">DELETE</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>

<% include partials/footer%>